@import "tailwindcss";

* {
  font-family: "Kantumruy Pro", sans-serif;
}

@theme {
    --breakpoint-tablet: 548px;
    --breakpoint-laptop: 849px;

    --color-primary: #652d91;
    --color-primary-green: #3b9d5c;
    --color-primary-hover: #4e2170;
    --color-secondary: #9C6A07;

    --color-admin-border: #EBEBEB;
    --color-second-primary: #996600;
    --color-second-primary-hover: #805500;
}

html {
  scroll-behavior: smooth;
}